<% layout('layouts/boilerplate') %>
    <h1>Edit a rating</h1>
    <form action="/ratings/<%= rating._id %>?_method=PUT" method="POST">
        <div>
            <label for="teacher">Teacher Name</label>
            <input type="text" name="rating[teacher]" id="teacher" value="<%= rating.teacher %>" />
        </div>
        <div>
            <label for="school">School Name</label>
            <input type="text" name="rating[school]" id="school" value="<%= rating.school %>" />
        </div>
        <div>
            <label for="course">Course Code</label>
            <input type="text" name="rating[course]" id="course" value="<%= rating.course %>" />
        </div>
        <div>
            <label for="comment">Comment</label>
            <textarea name="comment" id="comment" cols="30" rows="5" ><%= rating.comment %></textarea>
        </div>
        <div>
            <label for="quality">Quality Rating</label>
            <input type="text" name="rating[quality]" id="quality" value="<%= rating.quality %>" />
        </div>
        <div>
            <label for="difficulty">Difficulty Rating</label>
            <input type="text" name="rating[difficulty]" id="difficulty" value="<%= rating.difficulty %>" />
        </div>
        <button>Edit rating</button>

        <div>
            <a href="/ratings/<%= rating._id %>">Back to rating</a>
        </div>
    </form>