<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%= rating.teacher %></h1>
    <h2>School: <%= rating.school %></h2>
    <p>Quality: <%= rating.quality %></p>
    <p>Difficulty: <%= rating.difficulty %></p>

    <a href="/ratings">Back</a>
    <a href="/ratings/<%= rating._id %>/edit">Edit</a>

    <form action="/ratings/<%= rating._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body> 
</html>