<% layout('layouts/boilerplate') %>
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <h4 class="mb-3 text-center">Edit Professor</h4>
            <div class="card mb-3">
                <div class="card-body">
                    <form action="/professors/<%= professor._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
                        <div class="mb-3">
                            <label class="form-label" for="first">First Name</label>
                            <input class="form-control" type="text" name="professor[first]" id="first" value="<%= professor.first %>" required/>
                            <div class="invalid-feedback">First name must be at least two letters long</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="last">Last Name</label>
                            <input class="form-control" type="text" name="professor[last]" id="last" value="<%= professor.last %>" required/>
                            <div class="invalid-feedback">Last name must be at least two letters long</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="course">Department</label>
                            <select class="form-select" type="text" name="professor[department]" id="department" required>
                                <% for (let d of departments) { %>
                                    <option <%= d == professor.department ? "selected" : "" %> value="<%= d %>"><%= d %></option>
                                <% } %>
                            </select>
                            <div class="invalid-feedback">Department must be selected</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <button type="submit" class="mb-2 btn btn-primary btn-full-width">Edit Rating</button>
                    </form>
                    <a href="/professors/<%= professor._id %>" class="btn btn-success btn-full-width">Back</a>
                </div>
            </div>
        </div>
    </div>


