<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex align-self-start">
                <h1 class="fw-bolder me-2">4</h1>
                <div class="text-muted fw-bold">/ 5</div>
            </div>
            <div class="fw-semibold mb-3">Overall Quality Based <a href="#" class="text-black">XX ratings</a></div>
            <h1 class="fw-bolder">
                <%= professor.first %>
                    <%= professor.last %>
            </h1>
            <p>Professor in the <a href="#" class="text-black fw-semibold"><%= professor.department %></a> department</p>
            <div class="row">
                <div class="col-5">
                    <h2 class="fw-bold">N/A</h2>
                    <p>Would take again</p>
                </div>
                <div class="col-5">
                    <h2 class="fw-bold">3.0</h2>
                    <p>Level of difficulty</p>
                </div>
                <div class="col-2"></div>
            </div>

            <form class="d-inline" action="/professors">
                <button class="btn btn-primary btn-sm">Back</button>
            </form>
            
            <!-- the ObjectId type is a custom type created by mongoDB 
                the .equals() method is used instead of '==' because using the equality sign compares their references -->
            <% if (currentUser && professor.author.equals(currentUser._id)) { %>
                <form class="d-inline" action="/professors/<%= professor._id %>/edit">
                    <button class="btn btn-success btn-sm">Edit</button>
                </form>
                <form class="d-inline" action="/professors/<%= professor._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-sm">Delete</button>
                </form>
            <% } %>

            <h5 class="mt-5 mb-3">Add a Comments</h5>
            <form action="/professors/<%=professor._id%>/comments" method="POST" class="mb-3 needs-validation" novalidate>
                <div class="mb-3">
                    <label class="form-lable" for="course">Enter Course Code</label>
                    <input class="form-control" name="comment[course]" id="course" type="text" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-lable" for="quality">Rate your professor</label>
                            <input class="form-range" name="comment[quality]" id="quality" type="range" min="1" max="5">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-lable" for="difficulty">Rate the difficulty</label>
                            <input class="form-range" name="comment[difficulty]" id="difficulty" type="range" min="1" max="5">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="wouldTakeAgain">Would you take this professor again?</label>
                    <select class="form-select" name="comment[wouldTakeAgain]" id="wouldTakeAgain" required>
                        <option disabled selected value>-- Open this select menu --</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="body">Write a Review</label>
                    <textarea class="form-control" name="comment[body]" id="body" cols="30" rows="3"
                        required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-6 mt-5">
            <h5 class="mb-3">Student Comments</h5>
            <% for (let comment of professor.comments) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <p><%= comment.course %></p>
                        <p><%= comment.body %></p>
                        <div>
                            <span>Quality: <%= comment.quality %></span>
                            <span>Difficulty: <%= comment.difficulty %></span>
                        </div>
                        <form action="/professors/<%=professor._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm mt-3">Delete</button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    </div>